<template>
    <html lang="en">
    <head>
        <meta charSet="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="image/png" rel="icon" href="/img/logo.png" sizes="16x16">
        <title>CPN - Confirmation rendez-vous</title>
        <!-- javascripts -->

        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>

    <main className="primary_body">
        <div className="container-fluid d-flex flex-column justify-content-center g-0 appointment_container">
            <div className="row justify-content-center g-0">
                <div className="col-md-7">
                    <div className="appointment_wrapper container">
                        <header className="row p-2 g-0 appointment_header">
                            <div className="col-md-12 header_logo">
                                <img className="logo" src="'img/logo-cpn2.png'" alt="">
                            </div>
                        </header>
                        <div className="appointment_body mb-3">
                            <div className="row g-0 justify-content-center align-items-center">
                                <div className="col-md-12">
                                    <div className="row mb-5 g-0 justify-content-center">
                                        <div className="col-auto">
                                            <div className="logo_box">
                                                <img className="calendar" width="180" src="img/calender.svg" alt="">
                                                <img className="tick" width="60" src="img/tick.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div className="row mb-5 g-0 justify-content-center">
                                        <div className="col-auto">

                                            <h2 className="info_txt">Votre rendez-vous à bien été confirmé.</h2>
                                        </div>
                                    </div>
                                    <div className="row mb-3 g-0 justify-content-center">
                                        <div className="col-auto">
                                            <a className="info_button" target="_blank"
                                               href="http://cpn-aide-aux-entreprises.com/">Accéder au site</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer className="appointment_footer">
                            <div className="row justify-content-center">
                                <div className="col-auto">
                                    <ul className="social_list">
                                        <li className="social_items">
                                            <a className="social_href" target="_blank"
                                               href="https://www.facebook.com/CPN.aideauxentreprises"><img
                                                className="social_logo" src="img/facebook.png" alt=""></a>
                                        </li>
                                        <li className="social_items">
                                            <a className="social_href" target="_blank"
                                               href="https://www.instagram.com/cpn_aideauxentreprises"><img
                                                className="social_logo" src="img/instagram.png" alt=""></a>
                                        </li>
                                        <li className="social_items">
                                            <a className="social_href" target="_blank"
                                               href="https://www.linkedin.com/company/cpn-aide-aux-entreprises"><img
                                                className="social_logo" src="img/linkedin.png" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </main>

    </body>
    </html>
</template>

<script>
import requester from "../modules/requester";
import 'bootstrap/dist/css/bootstrap.css';

import 'vuetify/dist/vuetify.min.css';
import Vue from "vue";
import Vuetify from "vuetify";

Vue.use(Vuetify);
export default {
    data() {
        return {
            sign: {
                active: {
                    signIn: true,
                    signInLoading: false,
                    signUpLoading: false,
                },
                formData: {
                    firstname: null,
                    lastname: null,
                    email: "",
                    password: "",
                    level: 3,
                },
            },
            mailConfirmData: { // Créez un objet pour stocker les données de confirmation d'e-mail
                token: "",
                cid: "",
            },
        };
    },
    created() {
        // Accédez aux paramètres de route ici
        this.mailConfirmData.token = this.$route.params.token;
        this.mailConfirmData.cid = this.$route.params.cid;
        this.confirmation();

        // Vous pouvez maintenant utiliser this.mailConfirmData.token et this.mailConfirmData.cid dans votre composant
        console.log("Token:", this.mailConfirmData.token);
        console.log("CID:", this.mailConfirmData.cid);
    },
    methods: {
        async confirmation() {
            const formData = new FormData();
            formData.append("token", this.mailConfirmData.token);
            formData.append("cid", this.mailConfirmData.cid);

            try {
                const response = await requester.confirmclient(formData);
                if (!response.data.error) {
                    console.log(response.data.id);
                }
            } catch (error) {
                console.error("Une erreur s'est produite lors de la mise à jour du profil :", error);
            }
        },
        // ...
    },
};
</script>

<style>
</style>
