<template>
    <div class="sign_container">
        <div class="sign_wrapper">
            <form autocomplete="off" v-on:submit.prevent ref="signIn" action="#" class="form_content">
                <template v-if="reset.active.signIn" >
                    <v-card elevation="5" width="450">
                        <v-card-text>
                            <v-row justify="center">
                                <v-col cols="auto">
                                    <h5 class="m-0 text-center">Bienvenue</h5>
                                    <p class="m-0 text-center">Veuillez s'identifier pour continuer</p>
                                </v-col>
                            </v-row>
                            <v-row dense>
                                <v-col cols="12" md="12">
                                    <el-input type="email" placeholder="Adresse mail" v-model="reset.formData.email"></el-input>
                                </v-col>
                                <v-col cols="12" md="12">
                                    <el-input type="password" placeholder="Mot de passe" v-model="reset.formData.password"></el-input>
                                </v-col>  <v-col cols="12" md="12">
                                    <el-input type="password" placeholder="Confirme votre mot de passe" v-model="reset.formData.Confirmpassword"></el-input>
                                </v-col>
                            </v-row>

                            <v-row justify="center" dense>
                                <v-col cols="4" md="4">
                                    <v-btn v-on:click="changepass" :loading="reset.active.signUpLoading" :disabled="reset.active.signUpLoading" outlined small color="#038418">
                                        Envoyer<v-icon class="ml-1" small>mdi-login-variant</v-icon>
                                        <template v-slot:loader>
                      <span class="custom_loader">
                        <v-icon light>mdi-cached</v-icon>
                      </span>
                                        </template>
                                    </v-btn>
                                </v-col>
                            </v-row>
                            <v-divider></v-divider>
                            <v-row justify="center" dense>
                                <v-col cols="auto">
                                    <v-btn v-on:click="" color="#111D5E" small plain text>Mot de passe oublié</v-btn>
                                </v-col>
                            </v-row>
                            <v-row justify="center" dense>
                                <v-col cols="auto">
                                    <p class="m-0">Vous n'avez pas un compte ?<v-btn v-on:click="forcefal" color="#111D5E" small plain text>S'inscrire</v-btn></p>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </template>

            </form>
        </div>
    </div>
</template>
<script>
import requester from "../modules/requester";
export default {
    props: {
        token: {
            required: true,
        },
    },
    data () {
        return {
            reset:{
                active:{
                    signIn:false,
                    signInLoading:false,
                    signUpLoading:false,
                },

                formData:{
                    email:"",
                    password:"",
                    Confirmpassword:"",
                }
            },

        }
    },
    mounted() {
        console.log(this.token)
        requester.confirmtoken(this.token)
            .then(response=>{
                console.log(response.data)
                if (response.data == 1){
                    this.reset.active.signIn = true;
                }
            })
            .catch(error=>console.log(error));
    },

    methods:{
        changepass() {
            const formData = new FormData();
            formData.append("email",  this.reset.formData.email);
            formData.append("password",  this.reset.formData.password);
            formData.append("confirm_password",  this.reset.formData.Confirmpassword);

            console.log(this.reset.formData.email);
            requester.resetpass(formData)
        .then(response=>{
                if(response.data.error){
                    this.$notify({
                        title: 'Connexion',
                        message: "il ya un probleme",
                        type: 'error'
                    });
                } else {
                    this.$notify({

                        title: 'Mot de passe envoyé avec succées',
                        message: "mot de passe envoyé avec succées",
                        type: 'success'

                    });
                    window.location.href = 'https://crm.cpn-aide-aux-entreprises.com'

                }


            });
        },

    }
}
</script>

<style>

</style>
