
<template >
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="image/png" rel="icon" href="/img/logo.png" sizes="16x16">
        <title>CPN - Confirmation rendez-vous</title>
        <!-- javascripts -->

        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>

    <main class="primary_body">
        <div class="container-fluid d-flex flex-column justify-content-center g-0 appointment_container">
            <div class="row justify-content-center g-0">
                <div class="col-md-7">
                    <div class="appointment_wrapper container">
                        <header class="row p-2 g-0 appointment_header">
                            <div class="col-md-12 header_logo">
                                <img class="logo" src="'img/logo-cpn2.png'" alt="">
                            </div>
                        </header>
                        <div class="appointment_body mb-3">
                            <div class="row g-0 justify-content-center align-items-center">
                                <div class="col-md-12">
                                    <div class="row mb-5 g-0 justify-content-center">
                                        <div class="col-auto">
                                            <div class="logo_box">
                                                <img class="calendar" width="180" src="img/calender.svg" alt="">
                                                <img class="tick" width="60" src="img/tick.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-5 g-0 justify-content-center">
                                        <div class="col-auto">

                                            <h2 class="info_txt">Votre rendez-vous à bien été confirmé.</h2>
                                        </div>
                                    </div>
                                    <div class="row mb-3 g-0 justify-content-center">
                                        <div class="col-auto">
                                            <a class="info_button" target="_blank" href="http://cpn-aide-aux-entreprises.com/">Accéder au site</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="appointment_footer">
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    <ul class="social_list">
                                        <li class="social_items">
                                            <a class="social_href" target="_blank" href="https://www.facebook.com/CPN.aideauxentreprises"><img class="social_logo" src="img/facebook.png" alt=""></a>
                                        </li>
                                        <li class="social_items">
                                            <a class="social_href" target="_blank" href="https://www.instagram.com/cpn_aideauxentreprises"><img class="social_logo" src="img/instagram.png" alt=""></a>
                                        </li>
                                        <li class="social_items">
                                            <a class="social_href" target="_blank" href="https://www.linkedin.com/company/cpn-aide-aux-entreprises"><img class="social_logo" src="img/linkedin.png" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </main>

    </body>
    </html>
</template>

<script>
import requester from "../modules/requester";
import 'bootstrap/dist/css/bootstrap.css';

import 'vuetify/dist/vuetify.min.css';
import Vue from "vue";
import Vuetify from "vuetify";
Vue.use(Vuetify);
export default {
    data() {
        return {
            sign: {
                active: {
                    signIn: true,
                    signInLoading: false,
                    signUpLoading: false,
                },
                formData: {
                    firstname: null,
                    lastname: null,
                    email: "",
                    password: "",
                    level: 3,
                },
            },
            mailConfirmData: { // Créez un objet pour stocker les données de confirmation d'e-mail
                token: "",
                cid: "",
            },
        };
    },
    created() {
        // Accédez aux paramètres de route ici
        this.mailConfirmData.token = this.$route.params.token;
        this.mailConfirmData.cid = this.$route.params.cid;
        this.confirmation();

        // Vous pouvez maintenant utiliser this.mailConfirmData.token et this.mailConfirmData.cid dans votre composant
        console.log("Token:", this.mailConfirmData.token);
        console.log("CID:", this.mailConfirmData.cid);
    },
    methods: {
        async confirmation() {
            const formData = new FormData();
            formData.append("token",  this.mailConfirmData.token);
            formData.append("cid",  this.mailConfirmData.cid);

            try {
                const response = await requester.confirmclient(formData);
                if (!response.data.error) {
                    console.log(response.data.id) ;
                }
            } catch (error) {
                console.error("Une erreur s'est produite lors de la mise à jour du profil :", error);
            }
        },
        // ...
    },
};
</script>

<style>
@import "crm.css";
</style>
