<template>
  <div class="profile_container">
    <template>
      <v-dialog v-model="profile.avatarDialog.isOpen" width="420px">
        <v-card>
          <v-card-title>
            <header class="m-0">Photo de profile</header>
            <v-spacer></v-spacer>
            <v-btn v-on:click="$bus.$emit('image/upload')" small outlined text color="#111D5E">Importer une image</v-btn>
          </v-card-title>
          <v-card-text class="d-flex justify-content-center p-1">
            <Cropper/>
          </v-card-text>
          <v-card-actions>
            <v-btn v-on:click="profile.avatarDialog.isOpen = false" small outlined text color="#CE1212">Fermer</v-btn>
            <v-spacer></v-spacer>
            <v-btn v-on:click="$bus.$emit('image/save')" small outlined text color="#038418">Enregistrer</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>
      <v-dialog v-model="profile.profileDialog.isOpen" width="500">

          <template>
              <v-card>
                  <v-card-title>
                      <header class="m-0">Modification</header>
                  </v-card-title>
                  <v-card-text>
                      <v-row dense>

                          <v-col cols="12" md="6" sm="6">
                              <el-input v-model="profile.profileDialog.formData.prenom" placeholder="Prénom"></el-input>
                          </v-col>
                          <v-col cols="12" md="6" sm="6">
                              <el-input v-model="profile.profileDialog.formData.nom" placeholder="Nom de famille">{{$store.state.user.lastname}}</el-input>
                          </v-col>
                          <v-col cols="12" md="6" sm="6">
                              <el-input v-model="profile.profileDialog.formData.tele" placeholder="Numéro de téléphone">{{$store.state.user.tel}}</el-input>
                          </v-col>
                          <v-col cols="12" md="6" sm="6">
                              <el-input v-model="profile.profileDialog.formData.email" placeholder="Email">{{$store.state.user.email}}</el-input>
                          </v-col>
                          <v-col cols="12">
                              <el-input v-model="profile.profileDialog.formData.adresse" placeholder="nom">{{$store.state.user.adresse}}</el-input>
                          </v-col>
                          <!-- <v-col cols="12">
                            <v-select
                              v-model="contact.addDialog.formData.status.label"
                              :items="['NRP','entreprise fermé','Pas intérésser','Test pas terminer','A rappeler','Doublon']"
                              placeholder="Status"
                              height="20px"
                              dense
                              outlined
                              color="#111D5E"
                              :hide-details="true">
                            </v-select>
                          </v-col> -->
                      </v-row>
                  </v-card-text>
                  <v-card-actions>
                      <v-btn color="#CE1212" small outlined text v-on:click="profile.profileDialog.isOpen=false" >Fermer</v-btn>
                      <v-spacer></v-spacer>
                      <v-btn color="#038418" small outlined text :loading="profile.profileDialog.isChanging" :disabled="profile.profileDialog.isChanging" v-on:click="updateprofile()">Ajouter</v-btn>
                  </v-card-actions>
              </v-card>
          </template>
      </v-dialog>
    <div class="profile_wrapper">
      <v-row dense>
        <v-col cols="12" md="5">
          <v-card class="p-2">
            <v-card-title class="p-0 justify-content-center">
              <v-avatar class="avatar_holder" size="100">
                <v-img src="/img/logo.png"></v-img>
                <button v-on:click="profile.avatarDialog.isOpen=true" class="avatar_change"><v-icon class="change_logo">mdi-camera</v-icon></button>
              </v-avatar>
            </v-card-title>
            <v-card-text class="p-0">
              <h3 style="font-weight:800; font-size:17px" class="mt-3 text-center text-uppercase">{{$store.state.user.data.first_name+" "+$store.state.user.data.last_name}}</h3>
              <p style="font-weight:500" class="text-center mb-3">{{$store.state.user.level}}</p>
            </v-card-text>
            <v-card-actions>

            </v-card-actions>
          </v-card>
        </v-col>
        <v-col cols="12" md="7">
          <v-card>
            <v-card-text>
              <v-row dense>
                <v-col cols="6" md="6"><h6 class="m-0">Nom complet</h6></v-col>
                <v-col cols="6" md="6"><p class="m-0">{{$store.state.user.data.first_name+" "+$store.state.user.data.last_name}}</p></v-col>
              </v-row>
              <v-divider class="my-1"></v-divider>
              <v-row dense>
                <v-col cols="6" md="6"><h6 class="m-0">Email</h6></v-col>
                <v-col cols="6" md="6"><p class="m-0">{{$store.state.user.data.email}}</p></v-col>
              </v-row>
              <v-divider class="my-1"></v-divider>
              <v-row dense>
                <v-col cols="6" md="6"><h6 class="m-0">Numéro de téléphone</h6></v-col>
                <v-col cols="6" md="6"><p class="m-0">{{$store.state.user.data.tel}}</p></v-col>
              </v-row>
              <v-divider class="my-1"></v-divider>
              <v-row dense>
                <v-col cols="6" md="6"><h6 class="m-0">Adresse</h6></v-col>
                <v-col cols="6" md="6"><p class="m-0">{{$store.state.user.data.adresse}}</p></v-col>
              </v-row>
              <v-divider class="my-1"></v-divider>
              <v-row dense>
                <v-col cols="6" md="6"><h6 class="m-0">Status du compte</h6></v-col>
                <v-col cols="6" md="6"><p class="m-0">Verifié</p></v-col>
              </v-row>
            </v-card-text>
            <v-card-actions>
              <v-btn v-on:click="profile.profileDialog.isOpen=true" color="green" outlined small style="text-transform:none">
                Modifier
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import Cropper from "../components/Cropper";
import store from "@/modules/store";
import requester from "../modules/requester";
export default {

    components: {
        Cropper,
    },

    data() {
        return {
            profile: {
                avatarDialog: {
                    isOpen: false,
                    isChanging: false,
                },
                profileDialog: {
                    isOpen: false,
                    isChanging: false,
                    formData: {
                        id : store.state.user.data.id,
                        nom: store.state.user.data.first_name,
                        prenom: store.state.user.data.last_name,
                        tele: store.state.user.data.tel,
                        email: store.state.user.data.email,
                        adresse: store.state.user.data.adresse,

                    },
                },
            }
        }
    },

    methods: {
        async updateprofile() {
            this.profile.profileDialog.isChanging = true;
            const formData = new FormData();
            formData.append("email",  this.profile.profileDialog.formData.email);
            formData.append("first_name",  this.profile.profileDialog.formData.nom);
            formData.append("last_name",  this.profile.profileDialog.formData.prenom);
            formData.append("adresse",  this.profile.profileDialog.formData.adresse);
            formData.append("tel",  this.profile.profileDialog.formData.tele);
            formData.append("id",  this.profile.profileDialog.formData.id);
            console.log(this.profile.profileDialog.formData.email);

            try {
                const response = await requester.updateprofile(formData);
                if (!response.data.error) {
                    this.profile.profileDialog.formData.id = response.data.id;
                    this.profile.profileDialog.isChanging = false;
                    this.profile.profileDialog.isOpen = false;
                }
            } catch (error) {
                console.error("Une erreur s'est produite lors de la mise à jour du profil :", error);
            }
        },
    },
}

</script>

<style>

</style>
