<template>
  <div class="clients_container">
    <div class="clients_wrapper">
      <template>
        <v-data-table
          :headers="leads.table.headers"
          :items="leads.table.data"
          v-model="leads.table.selected"
          :search="leads.table.search"
          value="id"
          item-key="id"
          :items-per-page="10"
          class="elevation-1"
          :single-select="false"
          show-select
          :loading="leads.table.isLoading"
          :footer-props="{
            prevIcon: 'mdi-arrow-left',
            nextIcon: 'mdi-arrow-right',
            'items-per-page-text':'Leads par page :'
          }"
          loading-text="Chargement..., veuillez patienter"
          no-data-text="Pas de données disponibles">

          <template v-slot:top>
            <v-toolbar flat height="50px">

              <template>
                <v-text-field class="ml-1"
                  v-model="leads.table.search"
                  prepend-inner-icon="mdi-magnify"
                  label="Recherche..."
                  single-line
                  hide-details
                  dense
                  flat
                  solo
                  color="#111D5E">
                </v-text-field>
              </template>

              <v-spacer></v-spacer>

              <v-btn v-on:click="deleted" color="#e74c3c" text small style="text-transform:none">
                Supprimer
                <v-icon small class="ml-1">mdi-delete</v-icon>
              </v-btn>

              <v-dialog v-model="leads.dialogDelete"  max-width="500px">
          <v-card>
            <v-card-title class="text-h5">Êtes-vous sûr de vouloir supprimer cet élément?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
           </v-dialog>

            </v-toolbar>
          </template>



          <template v-slot:[`item.actions`]="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  @click="validUser(item)"
                >

                  mdi-account-check
                </v-icon>
              <v-icon
                  small
                  class="mr-2"
                  @click="delelead(item)"
              >

                  mdi-cancel
              </v-icon>

              </template>
        </v-data-table>
      </template>
    </div>
  </div>
</template>

<script>
import requester from "../modules/requester";
export default {
  data () {
    return {
      leads:{
        id:null,
        dialogDelete: false,
        detailDialog:{
          tabs:null,
          isOpen:false,
          isLoading:false,
          isMailSending:false,
          data:{
            users:{
              id:null,
              first_name:null,
              last_name:null,
              email:null,
              created:null,
            },

          },
        },
        table:{
          isLoading:true,
          search:"",
          headers: [
            { text: 'id', value: 'id' },
            { text: 'Prénom', value: 'first_name' },
            { text: 'Nom', value: 'last_name' },
            { text: 'Email', value: 'email' },
            { text: 'Actions', value: 'actions', sortable:false },
          ],
          selected:[],
          data:[],
        }
      }
    }
  },
   watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },
  created:function(){
    this.getUsers();
  },
  methods:{
    deleted(){

         },

      userDeleted(user){
            this.leads.dialogDelete = true
            this.leads.id=user.id
         },

         deleteItemConfirm () {
         requester.deleteUsers(this.leads.id)
         .then(response=>{
                this.dialogDelete = true
                 this.$notify({
                  title: 'Supprimé',
                  message: response.data.message,
                  type: 'success'
                  });
                window.location.reload()
      })
      .catch(error=>console.log(error));
        this.closeDelete()
      },
      closeDelete () {
        this.leads.dialogDelete = false
      },

   validUser(user){
      requester.validUsers(user.id)
      .then(response=>{
         this.$notify({
            title: 'Validé',
            message: response.data.message,
            type: 'success'
          });
      })
      .catch(error=>console.log(error));
         },

      delelead(user){
          requester.delelead(user.id)
              .then(response=>{
                  this.$notify({
                      title: 'Validé',
                      message: response.data.message,
                      type: 'success'
                  });
              })
              .catch(error=>console.log(error));
      },


    getUsers(){
     requester.getUsers()
      .then(response=>{
        this.leads.table.isLoading = false;
        response.data.users.forEach(lead => {
          this.leads.table.data.push(lead)
        });
      })
      .catch(error=>console.log(error));
    },

  }
}
</script>
