<template>
  <div class="clients_container">
    <div class="clients_wrapper">
      <template>
        <v-data-table
          :headers="leads.table.headers"
          :items="leads.table.data"
          v-model="leads.table.selected"
          :search="leads.table.search"
          value="id"
          item-key="id"
          :items-per-page="10"
          class="elevation-1"
          :single-select="false"
          show-select
          :loading="leads.table.isLoading"
          :footer-props="{
            prevIcon: 'mdi-arrow-left',
            nextIcon: 'mdi-arrow-right',
            'items-per-page-text':'Articles par page :'
          }"
          loading-text="Chargement..., veuillez patienter"
          no-data-text="Pas de données disponibles">

          <template v-slot:top>
            <v-toolbar flat height="50px">

              <template>
                <v-text-field class="ml-1"
                  v-model="leads.table.search"
                  prepend-inner-icon="mdi-magnify"
                  label="Recherche..."
                  single-line
                  hide-details
                  dense
                  flat
                  solo
                  color="#111D5E">
                </v-text-field>
              </template>

              <v-spacer></v-spacer>

              <v-btn v-on:click="deleted" color="#e74c3c" text small style="text-transform:none">
                Supprimer
                <v-icon small class="ml-1">mdi-delete</v-icon>
              </v-btn>

<!--add data table-->
              <v-dialog v-model="leads.addDialog.isOpen" width="500">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn  class="ml-4" color="#111D5E" dark small v-bind="attrs" v-on="on">
                    Ajouter<v-icon class="ml-1" small>mdi-plus</v-icon>
                  </v-btn>
                </template>
                <template>
                  <v-card>
                    <v-card-title>
                      <header class="m-0">Ajouter un nouveau article</header>
                    </v-card-title>
                    <v-card-text>
                      <v-row dense>
                        <v-col cols="12">
                            <v-card>
                              <v-card-title>
                                <header class="m-0">Photo d'article</header>
                                <v-spacer></v-spacer>
                                <v-btn v-on:click="$bus.$emit('image/upload')" small outlined text color="#111D5E">Importer une image</v-btn>
                              </v-card-title>
                              <v-card-text class="d-flex justify-content-center p-1">
                                <Cropper/>
                              </v-card-text>
                            </v-card>                     
                          </v-col>
                        <v-col cols="12">
                          <el-input v-model="leads.addDialog.formData.titre" placeholder="Titre"></el-input>
                        </v-col>
                        <v-col cols="12" md="6" sm="6">
                          <el-input v-model="leads.addDialog.formData.sousTitre" placeholder="Sous Titre"></el-input>
                        </v-col>
                        <v-col cols="12" md="6" sm="6">
                          <el-input v-model="leads.addDialog.formData.description" placeholder="Description"></el-input>
                        </v-col>
                        <!-- <v-col cols="12">
                          <v-select
                            v-model="leads.addDialog.formData.status.label"
                            :items="['NRP','entreprise fermé','Pas intérésser','Test pas terminer','A rappeler','Doublon']"
                            placeholder="Status"
                            height="20px"
                            dense
                            outlined
                            color="#111D5E"
                            :hide-details="true">
                          </v-select>
                        </v-col> -->
                      </v-row>
                    </v-card-text>
                    <v-card-actions>
                      <v-btn color="#CE1212" small outlined text v-on:click="leads.addDialog.isOpen=false" >Fermer</v-btn>
                      <v-spacer></v-spacer>
                      <v-btn color="#038418" small outlined text :loading="leads.addDialog.isAdding" :disabled="leads.addDialog.isAdding" v-on:click="addContactData">Ajouter</v-btn>
                    </v-card-actions>
                  </v-card>
                </template>
              </v-dialog>

              
            </v-toolbar>
          </template>


        </v-data-table>
      </template>
    </div>
  </div>
</template>

<script>
import requester from "../../modules/requester";
import Cropper from "../../components/Cropper";

export default {
    components:{
    Cropper,
  },
  data () {
    return {
      leads:{
         addDialog:{
            isOpen:false,
            isAdding:false,
            formData:{
              titre:"",
              sousTitre:"",
              description:"",
              status:{label:"En attente", color:"blue"},
            },
          },
        detailDialog:{
          tabs:null,
          isOpen:false,
          isLoading:false,
          isMailSending:false,
          data:{
            contact:{
              id:null,
              fullname:null,
              firstname:null,
              lastname:null,
              email:null,
              phone:null,
              region:null,
              created:null,
            },
            address:{
              region:null,
            },
            company:{
              name:null,
              phone:null,
              siret:null,
              naf:null,
              created:null,
              status:null,
              activity:null,
              turnover:null,
              statehelp:null,
              lturnover:null,
              salaries:null,
            },
            development:{
              website:null,
              websitetype:null,
              websitelink:null,
              websitedevdate:null,
              crm:null,
              crmtype:null,
              crmdev:null,
              crmdevdate:null,
              agency:null,
            },
            investment:{
              budget:null,
              service:null,
            },
            eligibility:{
              cpn:null,
              regional:{
                voucher:null,
                amount:null,
              }
            },
            meeting:{
              id: null,
              date: null,
              link: null,
              password: null,
            }
          },
        },
        table:{
          isLoading:true,
          search:"",
          headers: [
            { text: 'id', value: 'id' },
            { text: 'image', value: 'firstname' },
            { text: 'titre', value: 'lastname' },
            { text: 'sous titre', value: 'company.name' },
            { text: 'description', value: 'company.name' },
            { text: 'Actions', value: 'actions', sortable:false },
          ],
          selected:[],
          data:[],
        }
      }
    }
  },
  created:function(){
    this.getLeads();
  },
  methods:{
    addContactData(){
        this.leads.addDialog.isAdding = true;
        this.leads.table.data.push({
          titre: this.leads.addDialog.formData.titre,
          sousTitre: this.leads.addDialog.formData.sousTitre,
          description: this.leads.addDialog.formData.description,
          status:{
            label: "En attente", 
            color: "blue"
          }
        });

        this.leads.addDialog.isOpen = false;
        this.leads.addDialog.isAdding = false;

        this.leads.addDialog.formData.titre = "";
        this.leads.addDialog.formData.sousTitre = "";
        this.leads.addDialog.formData.description = "";
        this.leads.addDialog.formData.status.label = "";
        this.leads.addDialog.formData.status.color = "";
      },
    deleted(){
    },

    getLeads(){
      requester.getClients()
      .then(response=>{
        this.leads.table.isLoading = false;
        response.data.leads.forEach(lead => {
          this.leads.table.data.push(lead)
        });
      })
      .catch(error=>console.log(error)); 
    },

    leadDetail(data){
      this.leads.detailDialog.isOpen = true;
      this.leads.detailDialog.data = {
        contact:{
          id: data.id,
          fullname: data.firstname+" "+data.lastname,
          firstname: data.firstname,
          lastname: data.lastname,
          email: data.email,
          phone: data.phone,
          created: data.created,
        },
        address:{
          region: data.address.region,
        },
        company:{
          name: data.company.name,
          phone: data.company.phone,
          siret: data.company.siret,
          naf: data.company.naf,
          created: data.company.created,
          status: data.company.status,
          activity: data.company.activity,
          turnover: data.company.turnover,
          statehelp: data.company.statehelp,
          lturnover: "entre "+data.company.lturnover.min+"€ et "+data.company.lturnover.max+"€",
          salaries: data.company.salaries,
        },
        development:{
          website: data.development.website,
          websitetype: data.development.websitetype,
          websitelink: data.development.websitelink,
          websitedevdate: data.development.websitedevdate,
          crm: data.development.crm,
          crmtype: data.development.crmtype,
          crmdev: data.development.crmdev,
          crmdevdate: data.development.crmdevdate,
          agency: data.development.agency,
        },
        eligibility:{
          cpn: data.eligibility.cpn,
          regional:{
            voucher: data.eligibility.regional.voucher,
            amount: data.eligibility.regional.amount,
          }
        },
        investment:{
              budget:data.investment.budget,
              service:data.investment.service,
            },
        meeting:{
          id: data.meeting.zid,
          date: data.meeting.date,
          link: data.meeting.link,
          password: data.meeting.password,
        }
      };
    },

    resendMail(){
      this.leads.detailDialog.isMailSending = true
      requester.rensendConfirmationMail(JSON.stringify(this.leads.detailDialog.data))
      .then(response => {
        if(response.data.error){
          this.$notify({
            title: "Email confirmation",
            message: response.data.message,
            type: 'error'
          });
          this.leads.detailDialog.isMailSending = false
        } else {
          this.$notify({
            title: "Email confirmation",
            message: response.data.message,
            type: 'success'
          });
          this.leads.detailDialog.isMailSending = false
        }
      })
      .catch(error => {
        this.leads.detailDialog.isMailSending = false
        console.log(error)
      })
    }
  }
}
</script>